<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Weather</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none"
           href="#">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none"
           href="#">Информация</a>
        <a class="me-3 py-2 text-dark text-decoration-none"
           href="#">Документация</a>
      </nav>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в вашем городе</h1>
                <label for="city">Город</label>
                <from action="">
                    <input type="text", id="city", class="form-control"
                           name="city",
                           placeholder="Введите город">
                    <input type="submit", name="send", value="Узнать",
                           class="mt-2 btn btn-danger">
                </from>
            </div>
            <div class="col-4 offset-1">
                <h1>Информация</h1>
                <div class="alert alert-danger">
                    Погода в вашем городе
                </div>
            </div>
        </div>
    </div>
</header>
</html>